<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="ground_truth_xyz_offset" default="0.0\ 0.0\ 0.0"/>
    <xacro:arg name="ground_truth_rpy_offset" default="0.0\ 0.0\ 0.0"/>
    <xacro:macro name="hsrb_base_gazebo" params="prefix robot_namespace">
        <xacro:gazebo_link name="${prefix}_link" gravity="true" collide="false" friction="0.9"/>
        <xacro:gazebo_link name="${prefix}_roll_link" gravity="true" collide="false" friction="0.9"/>
        <xacro:gazebo_link_rubber name="${prefix}_r_drive_wheel_link" />
        <xacro:gazebo_link_rubber name="${prefix}_l_drive_wheel_link" />
        <xacro:gazebo_link_caster name="${prefix}_r_passive_wheel_z_link" />
        <xacro:gazebo_link_caster name="${prefix}_l_passive_wheel_z_link" />
        <xacro:gazebo_link name="${prefix}_range_sensor_link" gravity="true" collide="false" friction="0.9"/>
        <xacro:gazebo_link name="${prefix}_imu_frame" gravity="true" collide="false" friction="0.9"/>
        <xacro:gazebo_link_bumper name="${prefix}_f_bumper" robot_namespace="${robot_namespace}" gravity="true" collide="false" friction="0.9"/>
        <xacro:gazebo_link_bumper name="${prefix}_b_bumper" robot_namespace="${robot_namespace}" gravity="true" collide="false" friction="0.9"/>
        <gazebo>
            <plugin name="odom_ground_truth" filename="libtmc_gazebo_ros_p3d.so">
                <body_name>${prefix}_footprint</body_name>
                <frame_name>map</frame_name>
                <update_rate>30</update_rate>
                <xyz_offset>$(arg ground_truth_xyz_offset)</xyz_offset>
                <rpy_offset>$(arg ground_truth_rpy_offset)</rpy_offset>
                <ros>
                    <namespace>${robot_namespace}</namespace>
                    <remapping>odom:=odom_ground_truth</remapping>
                </ros>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
